.player1-controls {
  display: none;
}

.player2-controls {
  display: none;
}

.game-type-buttons {
  display: none;
}

.h2 {
  text-align: center;
}
body {
  background-image: ("file:///Users/tajofisher/Downloads/cool-background.png");
  background-size: cover;
}
